.component-animation1{
    width: 90%;
  background: #1e3a8a;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  justify-self: center;
  position: relative;
}

.container-animation1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #fde68a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13%;
  position: relative;
  overflow: hidden;
}

.square1 {
  width: 100px;
  height: 100px;
  background-color: #f87171;
  transform: rotate(45deg);
  margin-top: 63%;
  margin-left: -70%;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.square2 {
  width: 200px;
  position: absolute;
  height: 200px;
  background-color: #ef4444;
  transform: rotate(45deg);
  margin-top: 79%;
  margin-left: 30%;
  transition: all 0.5s ease-in-out;
}

.circle:hover > .square1 {
  margin-left: -90%;
}

.circle:hover > .square2 {
  margin-left: 35%;
}


.component-animation2{
    width: 90%;
  background: #191919;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  justify-self: center;
  position: relative;
}

.container-animation2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-background {
  width: 300px;
  height: 350px;
  background: #f2ad43;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  position: relative;
  overflow: hidden;
}

.left-mountain {
  height: 400px;
  width: 400px;
  background: #e08027;
  margin-top: 200px;
  margin-left: -200px;
  position: absolute;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.right-mountain {
  height: 500px;
  width: 500px;
  background: #824b20;
  margin-top: 200px;
  margin-left: 100px;
  position: absolute;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.animation-sunset {
  height: 100px;
  width: 100px;
  background: #fff58f;
  position: absolute;
  margin-top: 200px;
  margin-left: 110px;
  border-radius: 50%;
  transition: all 0.8s ease-in-out;
}

.animation-background:hover > .left-mountain {
  margin-left: -230px;
}

.animation-background:hover > .right-mountain {
  margin-left: 130px;
}

.animation-background:hover > .animation-sunset {
  margin-top: 50px;
}
