.components-nav {
  grid-area: a;
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 900;
  margin: 0rem;
}

.components-main {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  column-gap: 1rem;
  grid-template-areas:
    "a a a"
    "b c c"
    "b c c";
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top-right-radius: 25px;
  grid-area: b;
  position: fixed;
  top: 8rem;
  width: 20%;
}

.navigation a {
  padding: 0.5rem;
  padding-left: 30%;
  text-decoration: none;
  color: black;
  width: 90%;
  text-align: start;
  font-size: 1.3rem;
  font-weight: 500;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 0.5s ease-in-out;
}

.nav-background1:hover {
  background: linear-gradient(120deg, rgb(19, 182, 211), lightblue);
  color: white;
}
.nav-background2:hover {
  background: linear-gradient(120deg, #ff00ff, purple);
  color: white;
}
.nav-background3:hover {
  background: linear-gradient(120deg, rgb(112, 252, 94), cyan);
  color: white;
}
.nav-background4:hover {
  background: linear-gradient(120deg, rgb(243, 243, 10), orange);
  color: white;
}

.components-samples {
  padding: 1rem;
  background: rgb(209, 205, 205);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-top: 7rem;
  grid-area: c;
}

.component-sample-heading {
  margin: 3rem 0rem 3rem 0rem;
  font-size: 4rem;
  text-align: center;
}

.components {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 3rem;
}

.components-grid1 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 3rem;
}

.components-grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 3rem;
}

@media screen and (max-width: 1186px) {
  .navigation {
    display: none;
  }

  .components-main {
    grid-template-areas:
      "a a a"
      "c c c"
      "c c c";
  }
}

@media screen and (max-width: 950px) {
  .components {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 632px) {
  .components {
    grid-template-columns: 1fr;
  }

  .components-grid2 {
    grid-template-columns: 1fr;
  }

  .component-sample-heading {
    font-size: 3rem;
  }
}
