.component-list1 {
  width: 80%;
  height: 400px;
  background: white;
  justify-self: center;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.component-list1 > ol {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.component-list1 > ol > li {
  font-size: 1.5rem;
}

/* CSS FOR LIST 2 */

.component-list2 {
  width: 80%;
  height: 400px;
  background: linear-gradient(120deg, #021d55, #01073b);
  justify-self: center;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.component-list2 > ol {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  color: white;
}

.component-list2 > ol > li {
  font-size: 2.5rem;
  text-align: center;
}

/* CSS FOR LIST 3 */

.component-list3 {
  width: 80%;
  height: 400px;
  background: linear-gradient(120deg, black, #17181a);
  justify-self: center;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.component-list3 > ol {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  color: white;
}

.component-list3 > ol > li {
  font-size: 2.1rem;
  text-align: center;
  cursor: pointer;
}

.component-list3 > ol > li:hover {
  color: rgb(11, 255, 255);
}

/* CSS FOR LIST 4 */

.component-list4 {
  width: 80%;
  height: 400px;
  background: linear-gradient(120deg, rgb(248, 232, 3), #ffbb00);
  justify-self: center;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.component-list4 > ol {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  color: black;
}

.component-list4 > ol > li {
  font-size: 2.1rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.component-list4 > ol > li:hover {
  transform: translateX(0.5rem);
}

/* CSS FOR LIST 5 */

.component-list5 {
  width: 80%;
  height: 400px;
  background: white;
  justify-self: center;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.component-list5 > ol {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  padding: 0.5rem;
}

.list-item {
  background: rgb(5, 5, 5);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  /* padding: 0.5rem; */
}
.list-item > img {
  width: 20%;
  height: 20%;
  clip-path: circle(40%);
  object-fit: contain;
}

.list-item > p {
  font-size: 0.8rem;
}

/* CSS FOR LIST 6 */

.component-list6 {
  width: 80%;
  height: 400px;
  background: black;
  justify-self: center;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.component-list6 > ol {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0.5rem;
  color: white;
}

.component-list6 > ol > li {
  width: 95%;
  background: rgb(31, 30, 32);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
}

.component-list6 > ol > li > h3 {
  font-weight: 300;
  font-size: 1rem;
}

.border-orange {
  border-left: 0.5rem solid rgb(255, 115, 0);
}
.border-blue {
  border-left: 0.5rem solid blue;
}
.border-green {
  border-left: 0.5rem solid rgb(157, 255, 0);
}
.border-yellow {
  border-left: 0.5rem solid rgb(238, 255, 0);
}

@media screen and (max-width: 632px){
  .list-item{
    padding: 0;
  }
}